h1  {text-align: center;}
h2,h3,h1{
    padding-left: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.header {
  padding: 100px;
  padding-right: 200px;
  text-align: flex;
  background-color: #f2f2f2;
}

.tableapplication{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    margin-top: 1%;
  
}
